.container{
    width: 1200px;
    margin: 0 auto;
}

#header{
    height: 90px;
}

.header_inner{
    height: 90px;
    width: 1920px;
    position: relative;
}

.header_inner>img{
    height: 90px;
    width: 1920px;
    cursor: pointer; 
}



.header_inner span{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    right: 360px;
    top: 10px;
    bottom: 56px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon01.svg) no-repeat;
    background-position: -323px -84px;
    cursor: pointer;
}

#hnav{
    height: 36px;
    background:#2e2828 ;
}

.hnav_inner{
    min-width:1200px;
}

.hnav_nl{
    float: left;  
}
.hnav_nl>li{
    float: left;
}
.hnav_nl>li>a{
    height: 36px;
    line-height: 36px;
    margin-right: 16px;
    font-size: 12px;
    color: #afafaf;
}

.hnav_nr{
    float: right;

}

.hnav_nr>li{
    float: left;
}

.hnav_nr>li>a{
    height: 36px;
    line-height: 36px;
    margin-right: 16px;
    font-size: 12px;
    color: #afafaf;
}

.hnav_nr>li>span:nth-of-type(1){
    margin-right: 9px;
}
.hnav_nl>li:last-of-type>a{
    position: relative;
    padding-right: 15px;
}
.hnav_nl>li:last-of-type>a::after{
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon-common.svg) no-repeat;
    background-position: -71px 0;
    position: absolute;
    top: 0px;
    right: -5px;  
}
.hnav_nr_ex>a{
    position: relative;
    padding-right: 15px;
}
.hnav_nr_ex>a::after{
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon-common.svg) no-repeat;
    background-position: -71px 0;
    position: absolute;
    top: 0px;
    right: -5px;  
}
.hnav_nr_ex2>a{
    position: relative;
    padding-left: 23px;
}
.hnav_nr_ex2>a::before{
    display: block;
    content: "";
    width: 20px;
    height: 12px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon-common.svg) no-repeat;
    background-position: -99px -4.5px;
    position: absolute;
    top: 2px;
    right: 54px;
}

#nnav{
    height: 74px;
}

.nnav_inner{
    padding: 22px 0;
}

.nnav_logo>a>img{
    width: 205px;
    height: 36px;
    float: left;
    margin-right: 31px;
}

.nnav_nav{
    float: left;
}

.nnav_nav>ul>li{
    float: left;
    margin:0 13px;
    margin-top: 3px;

}

.nnav_nav>ul>li>a{
    font-size: 14px;
    line-height: 24px;
}


.nnav_nav>ul>li:nth-of-type(1)>a{
    display: inline-block;
    width: 74px;
    height: 24px;
    background:#ff8486 ;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.nnav_nav>ul>li:nth-of-type(2)>a{
    display: inline-block;
    width: 74px;
    height: 24px;
    background:#74c7ff ;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 10px;
}

.nnav_search{
    float: right;
}
.nnav_search{
    position: relative;
}

.nnav_search>input{
    border: none;
    height: 30px;
    width: 240px;
    background: #f0f0f0;
    border-radius: 10px;
    text-indent: 5px;
}

.nnav_search>a:nth-of-type(1){
    font-size: 12px;
    color: #999999;
    position: absolute;
    right: 126px;
    top: 7px;
}
.nnav_search>a:nth-of-type(2){
    font-size: 12px;
    color: #999999;
    position: absolute;
    right: 40px;
    top: 7px;
}

.nnav_search::after{
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background:url(https://res8.vmallres.com/20201208/images/echannel/icon/icon-common.svg) no-repeat;
    background-position: -162px -3px;
    position: absolute;
    right: 15px;
    top: 7px;
}

#banner{
    height: 550px;
}

.banner_inner{
    position: relative;
}

.swiper-container{
    width: 1920px;
    height: 550px;
    margin: 0 auto;
    position: absolute;
    left: -360px;
    border-bottom-right-radius:1400px 60px;
    border-bottom-left-radius:1400px 60px;
}


.banner_nav{
    position: absolute;
    left: 0;
    top: 18px;
    width: 200px;
    height: 440px;
    background: #fff;
    border-radius: 9px;
    overflow: hidden;
    z-index: 2;
}

.banner_nav>ul>li{
    height: 44px;
    width:200px ;
    text-indent: 16px;
    line-height: 44px;
    cursor: pointer;
    font-size: 16px;
    color: #848484;
    position: relative;
}

.banner_nav>ul>li::after{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: url(https://res8.vmallres.com/20201208/css/../images/echannel/icon/icon01.svg) no-repeat;
    background-position: -363px 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
    z-index: 2;
}

.prevl1::after,.next1::after{
    display: none;
}

.banner_inner{
    position: relative;
}

.prevl1{
    display: block;
    width: 80px;
    height: 80px;
    content: "";
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon01.svg) no-repeat;
    background-position: 0 -72px;
    position: absolute;
    left: 563px;
    top: 220px;
}

.next1{
    display: block;
    width: 80px;
    height: 80px;
    content: "";
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon01.svg) no-repeat;
    background-position: -80px -72px;
    position: absolute;
    right: 347px;
    top: 220px;
}

.buttls{
    text-align: left;
}

.swiper-pagination-bullets{
    text-indent:1434px;
    margin-bottom: 60px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0);
}

.swiper-pagination-bullet:hover{
    background: #fff;
}

:root {
    --swiper-theme-color: #fff;
}


.swiper-pagination-bullet-active{
    background: #fff;
}

.swiper-pagination-bullets>span:last-of-type{
    margin-right: 360px;
}

#main_nav{
    min-height: 88px;
    position: relative;
}

.main_nav_inner{
    height: 88px;
    border-radius: 10px;
    position: relative;
    top:-55px;
    left: 0;
    z-index: 999;
    background: #fff;
    overflow: hidden;  
}

.mni1{
    float: left;
    width: 244px;
    height: 55px;
    margin-top:17px ;
    margin-left: 26px;
    border-right: 1px solid #eeeeee;
    color: #999999;
}

.mni1>img{
    float: left;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin-right:17px;
}

.mni1_text>div>b{
    color:#333;
}

.mni1_text>div{
    margin-bottom: 11px;
}

.mni1_text>a:nth-of-type(1){
    display: inline-block;
    width: 66px;
    height: 20px;
    border: 1px solid #e47b7f;
    color: #e47b7f;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    margin-right: 11px;
}

.mni1_text>a:nth-of-type(2){
    display: inline-block;
    width: 66px;
    height: 20px;
    border: 1px solid #595454;
    color: #fde4b3;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    background: #595454;
}

.main_nav_inner>ul>li{
    float: left;
}

.mni2{
    width: 660px;
    height: 88px;
}

.mni2>ul{
    float: left;
    padding-left: 40px;
    border-right: 1px solid #eeeeee;
}

.mni2>ul>li{
    float: left;
}

.mni2>ul>li>a{
    display: block;
    height: 88px;
    width: 66px;
    text-align: center;
    margin-right:57px ;
}

.mni2>ul>li>a>div{
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-top: 19px;
}

.mni2>ul>li>a>p{
    display: block;
    width: 72px;
    height: 10px;
    font-size: 10px;
    color: #777;
    margin-top: 8px;
    text-indent: -6px;
}

.mni2_img1{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -2px -2px;
}

.mni2_img2{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -42px -2px;
}

.mni2_img3{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -82px -2px;
}

.mni2_img4{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -122px -2px;
}

.mni2_img5{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -162px -2px;
}

.mni2_img6{
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -202px -2px;
}

.mni3s{
    float: left;
    width: 266px;
    height: 43px;
    border-top-right-radius: 10px;
    background: #fff;
    line-height: 43px;
    text-indent: 17px;
    font-size: 14px;    
    color: #777777;
    overflow: hidden;
    border-bottom:1px solid #eeeeee;
}

.mni3x{
    float: left;
    width: 266px;
    height: 43px;
    border-bottom-right-radius: 10px;
    background: #fff;
    line-height: 43px;
    text-indent: 17px;
    font-size: 14px;    
    color: #777777;
    
}

.mni3x>ul>li>a{
    line-height: 43px;
    text-indent: 17px;
    font-size: 14px;    
    color: #777777;
    font-size: 12px;
}

.mni3s>ul{
    float: right;
    border-top-right-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin-right: 35px;
    margin-left: 42px;  
}

.mni3s>ul>li{
    line-height: 43px;
    font-size: 12px;
    color: #777777;  
}

.mni3x>ul>li{
    float: left;
}

.mni3x>ul>li:nth-of-type(1)>span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -243px -3px;
}

.mni3x>ul>li:nth-of-type(2)>span{
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -262px -4px;
}

.mni3x>ul>li:nth-of-type(3)>span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(https://res.vmallres.com/pimages//squaredInfo/icon/5/2a452696306aa89df074ac502d14365d.png) no-repeat;
    background-size: 300px 40px;
    background-position: -283px -3px;
}

#sell1{
    height: 200px;
}

.sell1_inner>ul{
    float: left;
}

.sell1_inner>ul>li{
    float: left;
}



.sell1_inner ul li a img{
    display: inline-block;
    width: 290px;
    height: 200px;
    border-radius: 8px;
    margin-right: 13px;
    margin-bottom: 26px;
    transition: all .2s linear 0s;
}

.sell1_inner ul li:last-child>a>img{
    margin-right: 0px;
}

.sell1_inner>ul>li>a>img:hover{
    box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}


#sell2{
    height: 668px;
}

.sell2_inner>h2{
    font-size: 26px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 14px;
}

.bigbig_box{
    height:592px;

}

.sell2_bigbox{
    float: left;
    width: 968px;
}

.sell2_bigbox>ul{
    float: left;
}

.sell2_bigbox>ul>li{
    float: left;
}



.sell2_bigbox ul li {
    transition: all .2s linear 0s;
}

.sell2_leftimg{
    float: left;
    transition: all .2s linear 0s;
}

.sell2_leftimg:hover{
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    -webkit-transform: translate3d(0px,-2px,0px);
    -moz-transform: translate3d(0px,-2px,0px);
    -ms-transform: translate3d(0px,-2px,0px);
    -o-transform: translate3d(0px,-2px,0px);
    transform: translate3d(0px,-2px,0px);
    z-index: 2;
}

.bigbig_box>.sell2_leftimg>a>img{
    float: left;
    width: 230px;
    height: 592px;
    border-radius: 10px;
}

.current{
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    box-shadow: 0 10px 15px rgba(0,0,0,0.07);
    -webkit-transform: translate3d(0px,-2px,0px);
    -moz-transform: translate3d(0px,-2px,0px);
    -ms-transform: translate3d(0px,-2px,0px);
    -o-transform: translate3d(0px,-2px,0px);
    transform: translate3d(0px,-2px,0px);
    z-index: 2;
    box-shadow:0 12px 36px rgba(0,0,0,0.1);
}


.sell2_bigbox .grid-title{
    width: 210px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sell2_bigbox .grid-items{
    width: 230px;
    height: 290px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 0;
}

.sell2_bigbox .thumb{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sell2_bigbox .grid-img{
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}

.sell2_bigbox .grid-img img{
    width: 150px;
    height: 150px;
}

.sell2_bigbox .grid-desc{
    color: #777;
    line-height: 18px;
    padding: 0 10px;
    margin: 2px 20px 7px;
}

.sell2_bigbox .grid-price{
    color: #d0021b;
    line-height: 21px;
    margin-bottom: 0;
}

.sell3{
    height: 400px;
}

.sell3_inner>h2{
    margin-top:26px ;
    font-size: 26px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 14px;
}

.sell3_box{
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}

.sell3_box>ul{
    min-width: 1200px;
    height: 295px;
    overflow: hidden;
    margin-bottom: 8px;
}

.sell3_box>ul>li{
    float: left;
    width: 230px;
    height: 300px;
    text-align: center;
}

.sell3_box>ul>li{
    margin-right: 12px;
}

.sell3_box>ul>li:nth-child(5n){
    margin-right:0;
}

.sell3_box>ul>li>a>div{
    width: 230px;
    height: 205px;
    margin: 0 auto;
    background: #fff;
    padding-top: 36px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.06);
    transition: all .2s linear 0s;
}

.sell3_box>ul>li>a>div{
    position: relative;
}

.sell3_box>ul>li>a>div>img{
    width: 150px;
    height: 150px;
}

.sell3_box>ul>li>a>div>p{
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 206px;
    width: 210px;
    left: 0;
    background: #f3f3f3;
    color: #777;
    margin: 0;
}

.sell3_box>ul>li>a>strong{
    width: 230px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 9px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sell3_box>ul>li>a>span{
    line-height: 18px;
    color: #d0021b;
    margin-bottom: 0;
}


.sell3_box{
    position: relative;
}

.btn-next{
    line-height: 18px;
    color: #d0021b;
    margin-bottom: 0;
}



.btn-prev{
    display: block;
    margin-top: 0;
    left: 0px;
    border-radius: 0 8px 8px 0;
    width: 36px;
    height: 72px;
    top: 101px;
    background: rgba(0,0,0,0.06);
    text-align: center;
    position: absolute;
    z-index: 3;
}

.btn-prev>span{
    display: block;
    margin: 28px auto;
    height: 16px;
    width: 11px;
    background:url(../images/icon_left.png)  no-repeat;
}

.btn-next{
    display: block;
    margin-top: 0;
    right: 2px;
    border-radius: 8px 0 0 8px;
    width: 36px;
    height: 72px;
    top: 101px;
    background: rgba(0,0,0,0.06);
    text-align: center;
    position: absolute;
    z-index: 3;
}

.btn-next>span{
    display: block;
    margin: 28px auto;
    height: 16px;
    width: 11px;
    background:url(../images/icon_right.png)  no-repeat;
}